* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.5;
  background-color: rgb(18, 82, 82);
  letter-spacing: 0.7px;
}
h1 {
  font-family: "Heebo";
  background-color: rgb(219, 69, 43);
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: yellow;
}

nav,
main,
section,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  display: flex;
  justify-content: center;
}
nav > a {
  padding: 10px 0;
  color: white;
  border-bottom: 1px dashed white;
  display: flex;
  justify-content: center;
}

nav > a:hover {
  color: yellow;
}
main,
footer,
header,
section {
  padding: 0 20px;
}

header {
  margin-top: 20px;
  text-align: center;
}

header p {
  text-align: left;
}
footer {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  padding: 10px 0;
}

.contact {
  text-align: center;
  margin-top: 5px;
  font-size: 0.7em;
}

#profile-pic {
  border-radius: 50%;
  width: fit-content;
}
nav i.fab {
  font-size: 30px;
  margin-right: 20px;
  color: white;
}
nav i.fab:hover {
  transform: rotate(45deg);
}
.social-icons {
  margin: 20px 0;
}

#fullstack {
  color: black;
}

#bio {
  font-weight: bold;
  font-size: 1.4em;
}

#skills li {
  list-style-type: square;
}
.skills-format {
  display: flex;
  justify-content: space-evenly;
}
.project-item {
  text-align: center;
}
.project-image {
  width: 100%;
}
.quiz-img {
  height: 400px;
}
.repo-live {
  margin-top: 35px;
}

input,
textarea,
button {
  margin: 10px 0;
  display: block;
  padding: 5px;
  font-size: 0.9em;
  width: 100%;
}
textarea {
  resize: none;
}
form {
  text-align: left;
}
button {
  width: 30%;
  float: right;
  background-color: rgb(38, 103, 182);
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(38, 103, 182);
  font-size: 1.3em;
}
button:hover {
  background-color: rgb(18, 92, 184);
}
.star {
  font-size: 1.5em;
  color: rgb(185, 4, 4);
}
#desc {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

@media screen and (min-width: 600px) {
  nav {
    float: left;
    position: fixed;
    margin: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    width: 250px;
    background-color: black;
    color: white;
  }
  main,
  footer {
    margin-left: 250px;
  }
  .project-image {
    width: 70%;
  }
}
